* {
    box-sizing: border-box;
}

/* Flex Container */
body {
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    min-height: 100vh;
    

    
}

/* Flex Item EN Flex Container */
.header {
    display: flex;
    flex-flow: row wrap;
    background: #698F3F;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-family: sans-serif;
    
}

.site-name {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
    
}

/* Flex Item EN Flex Container */
.navigation-list {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
   
    margin: 0px;
    padding: 5px;
}

/* Flex Item */
.navigation-list li {
    margin: 10px;
    
}

/* Flex Item EN Flex Container */
.mid-section {
    display: flex;
    text-align: center;
    flex: 1 1 auto;
}
/* Flex Item */
.main-content {
    order: 2;
    flex: 1 1 auto;
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
}

/* Flex Item */
.sidebar-left {
    order: 1;
    flex: 1 0 25vw;
}

/* Flex Item */
.sidebar-right {
    order: 3;
    flex: 1 0 25vw;
}

img {
  
    max-width: 100%; 
   
    
}

.sidebar {
    background: #E7DECD;
}

a {
    text-decoration: none;
    color: white;
}

/* Flex Item EN Flex Container */
.footer {
    display: flex;
    flex-flow: row wrap;
    background: #804E49;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: sans-serif;
    color: white;
}