* {
    box-sizing: border-box;
}

/* Flex Container */
body {
    display: flex;
    flex-flow: column nowrap;
    margin: 0;
    min-height: 100vh;
    

    
}

/* Flex Item EN Flex Container */
.header {
    display: flex;
    flex-flow: row wrap;
    background: #698F3F;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-family: sans-serif;
    
}

.site-name {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 10px;
    
}

/* Flex Item EN Flex Container */
.navigation-list {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
   
    margin: 0px;
    padding: 5px;
}

/* Flex Item */
.navigation-list li {
    margin: 10px;
    
}

/* Flex Item EN Flex Containers */
.mid-section {
    display: flex;
    text-align: justify;
    flex: 1 1 auto;
} 

    .sidebar-left {
    flex: 1 0 25vw;
    }

    .main-section {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
    }

        .main-upper {
            display: flex; 
            flex: 1 1 auto; 
        }

            .main-content {
                padding: 10px;
                flex: 0 1 auto
            }

            .sidebar-right {
                flex: 1 0 25vw;
            }

        .main-bottom {
            background: #804E49;
            display: flex;
            flex: 0 0 5vh;
            align-items: center;
            justify-content: center;
            color: white;
        }






img {
    
    max-width: 100%; 
   
    
}

.sidebar {
    background: #E7DECD;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}


